jupyter~=1.0.0
pip~=24.0
pathlib~=1.0.1
panel~=0.14.4
attrs~=22.1.0
zlib~=1.2.13
datetime~=5.4
wheel~=0.38.4
openssl~=3.0.13
cryptography~=41.0.3
pillow~=10.2.0
docutils~=0.18.1
sphinx~=5.0.2
tornado~=6.3.2
jinja2~=3.1.2
pywin32~=305
future~=0.18.3
certifi~=2024.2.2
pyaudio~=0.2.14
comtypes~=1.3.0
zstandard~=0.19.0
urllib3~=1.26.16
numpy~=1.24.3
idna~=3.4
chardet~=4.0.0
regex~=2022.7.9
requests~=2.31.0
flask~=3.0.2
pyttsx3~=2.90
matplotlib~=3.7.2
seaborn~=0.12.2
scikit-learn~=1.1.3
joblib~=1.2.0
Flask==2.0.2

google~=3.0.0
wikipedia~=1.4.0
tensorflow~=2.15.0
psutil~=5.9.0
nltk~=3.8.1
keras~=2.15.0
ezviz-0.1.5.5
fake_useragent-1.4.0

opencv-python~=4.7.0.72
pykinect2~=0.1.0
interface~=2.11.1
pyglet~=2.0.10
fabric~=3.2.2
pygame~=2.5.2
transformers~=4.32.1
twilio~=8.13.0
werkzeug~=3.0.1
filelock~=3.9.0
rsa~=4.9
pyasn1~=0.4.8
gast~=0.5.4
h5py~=3.9.0
pytest~=7.4.0
ipython~=8.15.0
markupsafe~=2.1.1
click~=8.1.7
blinker~=1.7.0
itsdangerous~=2.1.2
six~=1.16.0
scipy~=1.10.0
pandas~=1.5.3
wrapt~=1.14.1
setuptools~=69.1.0
pytz~=2023.3.post1
cffi~=1.15.1
numba~=0.57.1
threadpoolctl~=2.2.0
packaging~=23.2
torch~=2.2.0
blas~=1.0
mpmath~=1.3.0
sympy~=1.11.1
pooch~=1.4.0
platformdirs~=3.10.0
cachetools~=5.3.2
aiohttp~=3.8.5
lz4~=4.3.2
distributed~=2023.6.0
dask~=2023.6.0
cloudpickle~=2.2.1
backports~=1.1
yaml~=0.2.5
pyyaml~=6.0
murmurhash~=1.0.10
datasets~=2.12.0
greenlet~=2.0.1
markdown~=3.4.1
pygments~=2.15.1
oauthlib~=3.2.2
termcolor~=2.4.0
pyparsing~=3.0.9
zipp~=3.11.0
sqlalchemy~=2.0.27
importlib_metadata~=6.0.0
mock~=5.1.0
pyodbc~=4.0.34
tensorboard~=2.15.2
flatbuffers~=23.5.26
astunparse~=1.6.3
dill~=0.3.6
tblib~=1.7.0
botocore~=1.29.76
fsspec~=2023.4.0
lxml~=4.9.3